@use "scss_modules/palette.scss";

/*==========GENERAL RULES==========*/

:root {
  font-family: "Outfit", sans-serif;
  color: palette.$savoy-blue;
  color: palette.$whimillion;
  background: linear-gradient(palette.$raisin-black, palette.$delft-blue);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  justify-content: center;
}

a {
  font-weight: 500;
  color: palette.$violet;
  text-decoration: inherit;
}
a:hover {
  color: palette.$whimillion;
}

nav {
  display: flex;
  gap: 25px;
  position: relative;
  max-width: 100%;
  padding-left: 20px;
  padding-top: 10px;
}

button {
  background-color: palette.$raisin-black;
  color: palette.$violet;
  border: none;
  font-size: 0.8rem;
  padding: 10px;
}
button:hover {
  border: solid 1px palette.$vermilion;
}

/*==========MAIN RULES==========*/

//HOME

.search-container {
  flex-direction: column;
  display: flex;
  justify-self: center;
  justify-content: center;
  &--form {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

.display-area {
  opacity: 0;
  max-width: 60%;
  justify-self: center;
  text-align: center;
  background-color: palette.$vermilion;
  border-radius: 40px;
  margin-top: 30px;
  padding: 10px;
  &--quick-message {
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  &--text {
    display: flex;
    justify-self: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    max-width: 80%;
  }
}

//SUBMIT

#submit-song-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

#error-message {
  opacity: 0;
  transition: opacity 1s linear;
}
